@use '_font.scss' as *;
@use '_colors.scss' as *;
@use '_functions.scss' as *;
@mixin card-btn {
    display: block;
    background: clr-with-shade(primer-cream, 5, 1);
    color: clr($colors, origin);
    text-align: center;
    text-decoration: none;
    margin: 5%;
    padding: 3% 15% 3% 15%;
    border: 0;
    outline: none;
    border-radius: 3px;
}

@mixin btn-nav {
    background: clr($colors, origin);
    outline: none;
    border: 0;
}

@mixin rarr {
    width: calc(40vw / 2);
    height: calc(15vw / 2);
}
.btn-more {
    @include card-btn;
}
.btn-arrow {
    @include rarr;
}