@use '_colors.scss' as *;
@use '_functions.scss' as *;
@use '_mixins.scss' as *;
@use '_buttons.scss' as *;
@use '_images.scss' as *;
$card-size: 50;
.card-container {
    @include card-container;
}
.card-wrap {
    @include card-wrap;
}
.card {
    outline: 1px solid clr($colors, primer-cream);
    @include card;
}
.card-sub-item {
    @include card-sub-item;
    margin: 0 5px 0 5px;
}
.card-logo {
    flex-shrink: 1;
    padding: 10px;
}
.card-name {
    @include card-name;
}
.card-share {
    @include card-btn;
    margin-top: -5px;
}
.card-revenue {
    @include card-revenue;
}
.card-rev-amount {
    @include card-rev-amount;
}