$colors: (
    primer-cream: #212121,
    sassy-orange: #f62828,
    iggy-green: #268f68,
    grey-matter: #dee4f1,
    body-fire: #333,
    logo-fantasy: #d1d1d1,
    minified-lime: #f5f5f5,
    origin: #fff
);