$colors: (
    primer-cream: #212121,
    sassy-orange: #f62828,
    iggy-green: #268f68,
    winter-tree: #00ffa6,
    grey-matter: #dee4f1,
    body-fire: #333,
    logo-fantasy: #d1d1d1,
    minified-lime: #f5f5f5,
    hyper-sky: #00fffb,
    pistachii: #60D5A9,
    cream-paper: #b8ffd4,
    hard-rock: #382828,
    vibrant: #ff006f,
    footer-havoc: #082422,
    ocean-cool: #0099ff,
    sun-shine: #fff700,
    origin: #fff
);