@use '_functions.scss' as *;
@use '_colors.scss' as *;
$image-size: 50;
@mixin card-logo-image {
    outline: 1px solid clr-with-shade(logo-fantasy);
    width: $image-size - 5px;
    height: $image-size - 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}@mixin card-arrow {
    width: fit-content;
    height: $image-size - 30px;
    margin-left: $image-size - 5px;
    background: clr-with-shade(logo-fantasy, 12, 0);
    border-radius: 100%;
    padding: 0 5px 0 5px;
}
@mixin card-arrow-pseudo($position: 0){
    content: " ";
    outline: 1px solid clr-with-shade(primer-cream, 25, 0);
    display: block;
    position: relative;
    width: $image-size - 38 + px;
    height: $image-size % $image-size + px;
    transform: skewY(20deg);
    margin: $position + px 0 0 0;
    padding: 0;
}
.card-logo-image {
    @include card-logo-image;
}
.card-arrow {
    @include card-arrow;
}

.card-arrow-container {
    &::before {
        @include card-arrow-pseudo()
    }
    &::after {
        @include card-arrow-pseudo(-18)
    }
    
}

@mixin aside-img {
    display: block;
    vertical-align: middle;
    width: $image-size - 28 + px;
    height: $image-size - 28 + px;
    background-color: clr-with-shade(primer-cream, 5, 1);
    border-radius: 100%;
    padding: 5px;
    margin: 0 0 0 15px;
}
.star img {
    @include aside-img;
}