@use '_colors.scss' as *;
@use '_functions.scss' as *;
@use '_font.scss' as *;

@mixin card-container {
    overflow: auto;
    white-space: nowrap;
};

@mixin card-wrap {
    display: inline-block;
    background-color: clr-with-shade(origin);
    margin: card-spacing-px(15);
    height: fit-content;
    width: 250px;
}

@mixin card {
    display: flex;
    width: inherit;
    height: inherit;
    flex-direction: column;
}

@mixin card-name {
    flex: 1 1 auto;
    margin-top: -5px;
}

@mixin card-revenue {
    font-size: $font-size-max - 86px;
    font-weight: $font-weight-min * 5;
    text-align: left;
    color: clr-with-shade(primer-cream, 30, 0);
    line-height: 18px;
}

@mixin card-rev-amount {
    font-size: $font-size-max - 83px;
    font-weight: $font-weight-min * 6;
    text-align: left;
    color: clr-with-shade(primer-cream, 5, 0);
}

@mixin card-sub-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

@mixin card-flex-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

@mixin card-dot($dot-size, $background, $shade, $shade-option) {
    display: inline-block;
    width: $dot-size + px;
    height: $dot-size + px;
    border-radius: 100%;
    background: clr-with-shade($background, $shade, $shade-option);
}

@mixin card-price {
    font-size: $font-size-max - 76px;
    color: clr-with-shade(primer-cream, 25, 1);
}

@mixin card-font-size {
    font-size: 17px;
}

@mixin  card-mcap-pe-value {
    font-size: $font-size-max - 85px;
    color: clr-with-shade(primer-cream, 25, 1);
}