<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super-Giggle - home</title>
</head>
<body>
    <h1>Welcome to Super-Giggle</h1>
    <!-- user search query [ -->
    <form action="/search_credentials" method="post">
    <input type="search" name="s/q" />
    <button type="submit">submit</button>
    </form>
    <!-- ] -->
    <% for (var i = 0 ; i <=5 ; i++) { %>
        <a href="/<%= i %>">link [<%= i %>] %></a> <br>
        <%} %>
</body>
</html>