<!-- working with px but not with vh -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super-Giggle - home</title>
    <link rel="stylesheet" href="../public/css/giggle.css" />
    <script src="/public/node-graph.js" type="text/javascript"></script>
</head>
<body>
    <nav>
        <div class="logo">Super Giggle</div>
        <input type="checkbox" id="toggle">
        <a href="/">
            <img class="bottom-nav-ico" src="../public/assets/home.svg" />
        </a>
        <a href="/trending">
            <img class="bottom-nav-ico" src="../public/assets/trending.svg" />
        </a>        
        <label for="toggle">
            <img class="bottom-nav-ico" id="plus" src="../public/assets/plus.svg" />
        </label>
        <label for="search">
        <input type="checkbox" id="search">
                <!-- user search query [ -->
                <form action="/search_credentials" method="post" id="search-wrap">
                    <p class="search-stocks">search stocks</p>
                    <div class="search-row">
                        <input type="search" name="s/q"/>
                        <button class="btn-search-img-wrap" type="submit"><img class="btn-search-img" src="../public/assets/search.svg" /></button>    
                    </div>
                </form>
            <!-- user search query ] -->        
            <img class="bottom-nav-ico" src="../public/assets/search.svg" />
        </label>
        <button class="btn-navbar" onclick='alert("All data and information is provided as is for development purposes only. None of the provided data makes up for providing financial advice in general.")'>
            <img class="bottom-nav-ico" src="../public/assets/i.svg" />
        </button>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <main id="main">
        <!-- trend depiction [-->
        <div id="trend-depiction">
            <svg viewBox="0 0 200 200">
                <!-- links [ -->
                <line id="link1" x1="-90" x2="-25"/>
                <line id="link2" x1="-25" x2="50"/>
                <line id="link3" x1="50" x2="125"/>
                <line id="link4" x1="125" x2="200"/>
                <line id="link5" x1="200" x2="275"/>
                <!-- links ] -->
                
                <!-- nodes [ -->
                <circle id="node1" cx="-90" r="5" stroke-width="0.2" fill="white" />
                <circle id="node2" cx="-25" r="5" stroke-width="0.2" fill="white" />
                <circle id="node3" cx="50" r="5" stroke-width="0.2" fill="white" />
                <circle id="node4" cx="125" r="5" stroke-width="0.2" fill="white" />
                <circle id="node5" cx="200" r="5" stroke-width="0.2" fill="white" />
                <circle id="node6" cx="275" r="5" stroke-width="0.2" fill="white" />
                <!-- nodes ] -->
            </svg>
        </div>
        <!-- trend depiction ] -->

        <div class="card-container">
        <% for (var i = 0 ; i <=5 ; i++) { %>
            <div class="card-wrap">
                <div class="card">
                    <div class="card-sub-item">
                        <div class="card-logo">
                            <img class="card-logo-image" src="../public/assets/apple.svg" />
                        </div>
                        <div class="card-name">
                            <p class="card-revenue">Revenue</p>
                            <p class="card-rev-amount">$173.32</p>
                        </div>
                        <p class="sym">AAPL</p>
                    </div>
                    <div class="card-sub-item-1">
                        <div class="card-stock-price">
                            <div class="card-price">$ 6352.32</div>
                            <div class="card-dots">
                                <div class="card-dot"></div>
                                <div class="card-dot"></div>
                                <div class="card-dot"></div>
                            </div>
                        </div>
                        <div class="card-today"> &uarr; today</div>
                    </div>
                        <a href="/stock<%=i%>" class="btn-more">
                            <img src="../public/assets/rarr.svg" alt="right arrow" class="btn-arrow">
                        </a>
                </div>
            </div>
            <%} %>
        </div>
        </main>
</body>
</html>