<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{req : '<%= id_ %>' 'url' }</title>
</head>
<body>
    <h1><%= id_ %></h1>
    <!-- id_ -> idx -->
</body>
</html>