.btn-more {
  display: block;
  background: #141414;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 5%;
  padding: 3% 15% 3% 15%;
  border: 0;
  outline: none;
  border-radius: 3px;
}

.btn-arrow {
  width: 20vw;
  height: 7.5vw;
}

.card-logo-image {
  outline: 0.2vh solid #d1d1d1;
  width: 11.75vw;
  height: 11.75vw;
  padding: 20% 23% 20% 23%;
  border-radius: 10%;
}

.star img {
  display: block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background-color: #141414;
  border-radius: 100%;
  padding: 5px;
  margin: 0 0 0 15px;
}

.card-container {
  overflow: auto;
  white-space: nowrap;
  margin: 32px 0px 32px 0px;
}

.card-wrap {
  display: inline-block;
  background-color: white;
  margin: 5px 30px 5px 5px;
  height: 100%;
  width: 70%;
  border-radius: 2%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.card-sub-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.5% 5% 5.5% 5%;
}

.card-logo {
  flex-shrink: 1;
}

.card-name {
  flex: 1 1 auto;
  margin-left: 5%;
}

.card-revenue {
  font-size: 4vw;
  font-weight: 500;
  text-align: left;
  color: #6e6e6e;
  line-height: 4.5vw;
}

.card-rev-amount {
  font-size: 4.65vw;
  font-weight: 600;
  text-align: left;
  color: #2e2e2e;
}

.card-stock-price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5% 0 5% 0;
}

.card-price {
  flex-grow: 1;
  font-size: 6.75vw;
  color: black;
}

.card-dots {
  flex-grow: 1;
}

.card-dot {
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background: black;
  border-radius: 100%;
}

.card-today {
  font-size: 4.75vw;
  padding: 5% 0 5% 10%;
}

.sym {
  font-size: 4.75vw;
  padding: 1.5% 5% 1.5% 5%;
}

.link-wrap {
  text-decoration: none;
}

.trending-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.12);
  padding: 2.5% 1.5% 2.5% 1.5%;
  margin: 2.5% 0 2.5% 0;
}

.li-item:nth-of-type(2) {
  flex: 1 1 auto;
  padding: 0 0 0 5%;
  color: #3b3b3b;
}

.li-item:nth-of-type(3) {
  padding: 1.5% 5% 1.5% 5%;
  border-radius: 5%;
  color: black;
  background: #60d5a9;
}

.txt-lg {
  font-size: 4.25vw;
  font-weight: 500;
}

.txt-lg-heavy {
  font-size: 6vw;
  font-weight: 600;
}

nav {
  display: flex;
  height: 60px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 25px;
  margin: 0px 0px 32px 0px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  margin: 0px 10px 0px 0px;
  padding: 10px 35px 10px 35px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #212121;
  color: #fff;
}

nav .logo {
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: #080808;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
}

.btn-search-img {
  height: 25px;
  width: 25px;
}

.search-row {
  display: flex;
  border: 1px solid #474747;
  border-radius: 3px;
}

#search-wrap input[type=search] {
  width: 25vw;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0px 0px 0px 15px;
  font-size: 18px;
}

#search-wrap input[type=search]:focus {
  border: none;
  outline: none;
}

.btn-search-img-wrap {
  padding: 3px 8px 3px 8px;
  outline: none;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottom-nav-ico, .btn-navbar, #toggle, #search, .search-stocks {
  display: none;
}

@media screen and (max-width: 947px) {
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12);
  }

  nav ul {
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 30ch;
    bottom: -30ch;
    z-index: -1;
    transition: all 0.3s ease;
  }

  nav .logo {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #080808;
    padding: 1.8vh 0vh 1.8vh 0vh;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
  }

  nav ul li {
    text-align: center;
    padding: 10px 25px 10px 25px;
    margin: 0px 0px 25px 0px;
  }

  nav ul li:nth-of-type(1) {
    margin-top: 5ch;
  }

  nav ul li a {
    margin: 0;
    padding: 10px 50px 10px 50px;
    border-radius: 2px;
    outline: 1px solid #bababa;
    color: black;
  }

  #toggle:checked ~ ul {
    bottom: 5ch;
  }

  #toggle:checked ~ label #plus {
    transform: rotateZ(40deg);
  }

  #search-wrap {
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: #f5f5f5;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    box-shadow: 0 -1px 0 rgba(59, 59, 59, 0.12);
    z-index: -2;
    opacity: 0;
  }

  .search-stocks {
    display: block;
    font-size: 2rem;
    color: #212121;
    padding: 5vh 0vh 5vh 2.5vh;
  }

  .search-row {
    margin: 0vh 2vh 0vh 2vh;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.12);
  }

  #search-wrap input[type=search] {
    display: block;
    position: relative;
    top: 40%;
    width: 100%;
    height: 4ch;
    border: none;
  }

  #search-wrap input[type=submit] {
    display: block;
    position: relative;
  }

  #search:checked ~ #search-wrap {
    position: absolute;
    bottom: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .btn-search-img-wrap {
    border: 0;
    border-left: 1.5px solid #f5f5f5;
    outline: none;
    padding: 5px 10px 5px 10px;
    background: #fff;
  }

  .bottom-nav-ico:not(#plus) {
    display: block;
    width: 4vh;
    height: 4vh;
  }

  #plus {
    display: block;
    width: 6vh;
    height: 6vh;
    transition: transform 0.1s ease;
  }

  .btn-navbar {
    display: block;
    background: #fff;
    outline: none;
    border: 0;
  }

  .btn-search-img {
    width: 5vw;
    height: 5vw;
  }
}
@media screen and (orientation: landscape) {
  .search-stocks {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

#main {
  margin: 0px 18px 0px 18px;
  padding: 0px 5px 0px 5px;
}

#trend-depiction {
  background-color: black;
  height: 40vw;
  width: 100%;
  border-radius: 15px;
}

#trend-depiction svg {
  height: inherit;
  width: inherit;
  overflow: visible;
  border-radius: inherit;
}

#trend-depiction circle {
  transition: all 300ms ease;
}

@media screen and (max-width: 947px) {
  #trend-depiction {
    margin-top: 10vh;
  }
}

/*# sourceMappingURL=giggle.css.map */
